.navbar-inverse {
  background-color: #2196f3;
  border-color: #2196f3;
}

.navbar-inverse .navbar-text,
.navbar-inverse .navbar-text a {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #9cd3ff;
  background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #9cd3ff;
  background-color: #0c7cd5;
}

.navbar-brand {
  padding: 10px;
}

.navbar-brand img {
  height: 30px;
}

@media (min-width: 768px) {
  .navbar-text {
    margin-left: 5px;
  }
}
